{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * @var AppView $this
 * @var array $typeMap
 * @var {{ singularHumanName | replace({" ": ""}) }}[]|CollectionInterface ${{ pluralVar }}
 * @var array $datatablesQuery
 * @var bool $isAjax
 * @var int $recordsTotal
 * @var int $recordsFiltered
 * @var string $message
 */

use App\Model\Entity\{{ singularHumanName | replace({" ": ""}) }};
use App\View\AppView;
use Cake\Collection\CollectionInterface;
use Cake\Utility\Inflector;

$this->set('headerShow', true);
$this->set('headerIcon', __(""));
$this->set('headerTitle', __('{{ pluralHumanName }}'));
$this->set('headerSubTitle', __(""));

//control what Libraries are loaded
$coreLib = [
'bootstrap' => true,
'datatables' => true,
'feather-icons' => true,
'fontawesome' => true,
'jQuery' => true,
'jQueryUI' => false,
];
$this->set('coreLib', $coreLib);


//$headers must match the Controller
$headers = [
{% for field in fields %}
    {% if field  not in ['created', 'modified', 'meta'] %}
        '{{ field }}',
    {% endif %}
{% endfor %}
'actions',
];

$rows = [];
$counter = 0;
?>
<?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
{% for field in fields %}
    {% if field  not in ['created', 'modified', 'meta'] %}
        {% set isKey = false %}
        {% if associations.BelongsTo is defined %}
            {% for alias, details in associations.BelongsTo %}
                {% if field == details.foreignKey %}
                    {% set isKey = true %}
                    <?php $rows[$counter][] = ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if isKey is not same as(true) %}
            {% set columnData = Bake.columnData(field, schema) %}
            {% if field in ['description'] %}
                <?php $rows[$counter][] =  $this->Text->truncate(h(${{ singularVar }}->{{ field }}) ?? '', 50) ?>
            {% elseif columnData.type in ['boolean'] %}
                <?php $rows[$counter][] =  $this->Text->boolToWord(${{ singularVar }}->{{ field }}) ?>
            {% elseif columnData.type in ['datetime'] %}
                <?php $rows[$counter][] =  $this->Time->format(${{ singularVar }}->{{ field }}) ?>
            {% elseif columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
                <?php $rows[$counter][] =  h(${{ singularVar }}->{{ field }}) ?>
            {% elseif columnData.null %}
                <?php $rows[$counter][] =  ${{ singularVar }}->{{ field }} === null ? '' : $this->Number->format(${{ singularVar }}->{{ field }}) ?>
            {% else %}
                <?php $rows[$counter][] =  $this->Number->format(${{ singularVar }}->{{ field }}) ?>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
    {% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
<?php
    $appendName = (${{ singularVar }}->name)? ": ${{ singularVar }}->name": "";
    $previewLinkOptions = [
        'class' => '',
        'data-bs-toggle' => "modal",
        'data-bs-target' => "#previewRecord",
        'data-record-title' => "Record #{${{ singularVar }}->id}{$appendName}",
        'data-record-id' => ${{ singularVar }}->id,
    ];
    $rows[$counter][] =
$this->Html->link(__('Preview'), "#", $previewLinkOptions) . " | " .
$this->Html->link(__('View'), ['action' => 'view', {{ pk|raw }}]) . " | " .
$this->Html->link(__('Edit'), ['action' => 'edit', {{ pk|raw }}]) . " | " .
$this->Form->postLink(__('Delete'), ['action' => 'delete', {{ pk|raw }}], ['confirm' => __('Are you sure you want to delete # {0}?', {{ pk|raw }})]);
?>
<?php $counter++ ?>
<?php endforeach; ?>
<?php
if ($isAjax) {
    $result = [
        "message" => $message,
        "draw" => intval($datatablesQuery['draw']),
        "recordsTotal" => $recordsTotal,
        "recordsFiltered" => $recordsFiltered,
        "data" => $rows,
    ];
echo json_encode($result, JSON_PRETTY_PRINT);
return;
}
?>
<div class="container-fluid px-4">
    <div class="card">

        <div class="card-header">
            <?= __('{{ singularHumanName }} Listing') ?>
            <?= $this->Html->link('<i class="fas fa-plus"></i>' . __('&nbsp;New {{ singularHumanName }}'), ['action' => 'add'],
            ['class' => 'btn btn-secondary btn-sm float-end', 'escape' => false]) ?>
        </div>

        <div class="card-body">
            <div class="{{ pluralVar }} index content">
                {% set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}
                {% set done = [] %}
                <div class="table-responsive">
                    <table class="table table-bordered table-sm dataset" style="width:100%">
                        <thead>
                        <tr class="filter-headers">
                            {% for field in fields %}
                                {% if field  not in ['created', 'modified', 'meta'] %}
                                    {% if field in ['id', 'guid', 'uuid', 'url', 'unc'] %}
                                        <th data-db-type="<?= $typeMap['{{ field }}'] ?>"><?= strtoupper('{{ field }}') ?></th>
                                    {% else %}
                                        <th data-db-type="<?= $typeMap['{{ field }}'] ?>"><?= Inflector::humanize('{{ field }}') ?></th>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <th class="actions"><?= __('Actions') ?></th>
                        </tr>
                        </thead>
                        <thead>
                        <tr class="filters">
                            {% for field in fields %}
                                {% if field  not in ['created', 'modified', 'meta'] %}
                                    <th></th>
                                {% endif %}
                            {% endfor %}
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--populated by DataTables-->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="previewRecord" tabindex="-1" role="dialog" aria-labelledby="previewRecord"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><?php echo __('Record Preview') ?></h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="loader-content">
                    <div class="spinner-border d-inline-block align-middle" role="status">
                        <span class="sr-only"><?php echo __('Loading...') ?></span>
                    </div>
                    <span class="px-3 align-middle"><?php echo __('Loading Record Data...') ?></span>
                </div>
                <div class="record-content">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<?php
/**
 * Scripts in this section are output towards the end of the HTML file.
 */
$this->append('viewCustomScripts');

//DataTables initialisation for the index view...
echo $this->Html->script('datatables_manager');

?>
<script>
    $(document).ready(function () {
        //DataTablesManager.autoRefresh = 10000; //every 10 seconds
        DataTablesManager.run();
    });
</script>
<?php
$this->end();
?>
